/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

.title img {
  vertical-align: middle;
}

h1.title {
  color: #2F5E8C;
}

.bar a {
  color: #2F5E8C;
}

.app-logo {
  height: 24px;
  width: 24px;
}

.scanning {
  position: absolute;
  right: 15px;
  transition: opacity 150ms linear;
  -webkit-transition: opacity 150ms linear;
}

.error {
  font-style: italic;
  color: #faa;
}

.field-title {
  width: 40%;
  display: inline-block;
  font-weight: bold;
}
